body {
	color:green;
	background-color:white;
	margin: 0 auto;
}

#container {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	}

a img {
	border:none;
}

#Humber_Bridge {
  display: block;
  width:385px;
  margin: 50px auto;
}
